spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://{{ db_host }}:3306/springapp
spring.datasource.username={{ db_user }}
spring.datasource.password={{ db_pwd }}
logging.file=/home/ec2-user/springtest.log